.sidebar {
  position: fixed;
  background-color: #222;
}

@media (max-width: 600px) {
  .sidebar {
    width: 20px !important;
    background-color: #222;
  }
  .sidebartwo {
    display: block;
  }
} ;
